/********** Template CSS **********/
:root {
  --primary: #dd9b2c;
  --secondary: #999999;
  --light: #fefdf2;
  --dark: #111111;
}

.btn-primary {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.text-primary {
  color: var(--primary) !important;
}

.bg-light {
  background-color: var(--light) !important;
}

.breadcrumb-item+.breadcrumb-item::before {
  float: right !important;
  padding-left: .5rem;
  padding-right: .5rem;
}

*{
  font-family: "Markazi Text", serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h4,
.h5,
.h6,
a {
  font-weight: 500 !important;
  font-family: "Cairo", sans-serif !important;
}


p {
  font-size: 20px;
  font-weight: 600;
}


/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}


/*** Button ***/
.btn {
  font-weight: 500;
  transition: .5s;
}

.btn.btn-primary {
  color: #FFFFFF;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}


/*** Navbar ***/
.navbar.sticky-top {
  top: -100px;
  transition: .5s;
}

.navbar .navbar-brand {
  width: 164px;
  height: 95px;
}

.navbar .navbar-brand img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar .navbar-nav .nav-link {
  margin-right: 30px;
  padding: 25px 0;
  color: var(--dark);
  font-weight: 500;
  outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: var(--primary);
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 8px;
}

@media (max-width: 991.98px) {
  .navbar .navbar-nav .nav-link  {
      margin-right: 0;
      padding: 10px 0;
  }

  .navbar .navbar-nav {
      border-top: 1px solid #EEEEEE;
  }
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
      display: block;
      border: none;
      margin-top: 0;
      top: 150%;
      opacity: 0;
      visibility: hidden;
      transition: .5s;
  }

  .navbar .nav-item:hover .dropdown-menu {
      top: 100%;
      visibility: visible;
      transition: .5s;
      opacity: 1;
  }
}

.navbar .btn:hover {
  color: #FFFFFF !important;
  background: var(--primary) !important;
}


/*** Header ***/
.hero-header .breadcrumb-item+.breadcrumb-item::before {
  color: var(--secondary);
}


/*** Service ***/
.service-item {
  position: relative;
  overflow: hidden;
}

.service-item::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: -80px;
  right: -80px;
  border: 80px solid;
  transform: rotate(45deg);
  opacity: 1;
  transition: .5s;
}

.service-item.bg-white::after {
  border-color: transparent transparent var(--light) transparent;
}

.service-item.bg-light::after {
  border-color: transparent transparent #FFFFFF transparent;
}

.service-item:hover::after {
  opacity: 0;
}


/*** Blog Start ***/
.blog .blog-item {
  border-radius: 10px;
  transition: 0.5s;
}

.blog .blog-item:hover {
  box-shadow: 0 0 45px rgba(0, 0, 0, .2);
}

.blog .blog-item .blog-img {
  position: relative;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blog .blog-item .blog-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.3);
  transition: 0.5s;
}

.blog .blog-item:hover .blog-img::after {
  height: 100%;
}

.blog .blog-item .blog-img img {
  transition: 0.5s;
}

.blog .blog-item:hover .blog-img img {
  transform: scale(1.2);
}  

.blog .blog-item .blog-content {
  position: relative;
  background: var(--light);
}

.blog .blog-item .blog-content .blog-date {
  position: absolute;
  top: 0; 
  left: 25px; 
  transform: translateY(-50%);
  padding: 12px 25px;
  border-radius: 10px;
  color: var(--white);
  background: var(--primary);
}

.blog .blog-item .blog-content .blog-comment {
  display: flex;
  justify-content: space-between;
}
/*** Blog End ***/


/*** FAQs ***/
.accordion .accordion-item {
  border: none;
  margin-bottom: 15px;
}

.accordion .accordion-button {
  background: var(--light);
  border-radius: 2px;
}

.accordion .accordion-button:not(.collapsed) {
  color: #FFFFFF;
  background: var(--primary);
  box-shadow: none;
}

.accordion .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion .accordion-body {
  padding: 15px 0 0 0;
}


/*** Footer ***/
.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: right;
  color: var(--secondary);
  font-weight: normal;
  text-transform: capitalize;
  transition: .3s;
}

.footer img{
  width: 200px;
  height: 100px;
  object-fit: cover;
  display: block;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: var(--secondary);
  margin-left: 10px;
}

.footer .btn.btn-link:hover {
  color: var(--primary);
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .btn.btn-square {
  color: var(--primary);
  border: 1px solid var(--primary);
}

.footer .btn.btn-square:hover {
  color: #FFFFFF;
  background: var(--primary);
}

.footer .copyright {
  padding: 25px 0;
  border-top: 1px solid rgba(17, 17, 17, .1);
}

.footer .copyright a {
  color: var(--primary);
}

.footer .copyright a:hover {
  color: var(--dark);
}

/* Footer Contact Buttons Styles */
.footer-contact-btns {
  z-index: 99;
  position: fixed;
  width: 100%;
  bottom: 20px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  visibility: hidden !important;
}

.footer-contact-btns .btn-phone,
.footer-contact-btns .btn-whatsapp {
  position: relative;
  z-index: 100;
  visibility: visible !important;
}

.footer-contact-btns a {
  position: relative;
  z-index: 1000;
  height: 60px;
  width: 60px;
  padding: 5px;
  background: #FFF;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary);
  border: 2px solid var(--primary);;
  font-weight: bold;
  font-size: 25px;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.footer-contact-btns .btn-phone:hover a {
  color: #FFF;
  border-color: #5B6CBF;
  background-color: #5B6CBF;
}

.footer-contact-btns .btn-whatsapp:hover a {
  color: #FFF;
  border-color: #1BD741;
  background-color: #1BD741;
}

.footer-contact-btns .btn-phone span {
  right: -109px;
  top: -35px;
}

.footer-contact-btns .btn-whatsapp span {
  right: 20px;
  top: -36px;
}

.footer-contact-btns .btn-phone span,
.footer-contact-btns .btn-whatsapp span {
  position: absolute;
  font-size: 14px;
  display: none;
  background: #EFEFEF;
  letter-spacing: 2px;
  font-weight: 700;
  color: #666;
  width: 150px;
  padding: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: .3rem;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  -o-border-radius: .3rem;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.footer-contact-btns .btn-phone a:hover + span,
.footer-contact-btns .btn-whatsapp a:hover + span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}